$mainColor: #083866;
$mainColor1: #08396618;
.HomeWrapper {
  .Home_title {
    width: 100%;
    font-size: 2.25rem;
    font-weight: normal;
  }
  .Home_searchRow {
    width: 100%;
    height: 50px;
    background: $mainColor1;
    border-radius: 10px;
    margin-top: 20px;
    .Home_searchDiv {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        height: 100%;
        width: 100%;
        flex: 1;
        outline: none;
        padding: 0 15px;
        color: $mainColor;
        font-weight: lighter;
      }
      button {
        width: 50px;
        height: 100%;
        background-color: $mainColor;
        border-radius: 10px;
        i {
          color: #fff;
        }
      }
    }
  }
  .Home_category {
    @extend .Home_title;
    font-size: 1.5rem;
    margin-top: 20px;
  }
  .Home_categoriesRow {
      margin-top: 20px;
    width: 100%;
    height: 100px;
    .Home_categoriesDiv {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .item {
        width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        i{
            padding: 20px;
            border-radius: 15px;
            background: $mainColor1;
            color:$mainColor;
            &.active{
            background: $mainColor;
            color:#fff;
            }
        }
        span{
            font-size: 1rem;
            font-weight: lighter;
            margin-top: 10px;
         color:#0839667a;;
            &.active{
                
                color:$mainColor;
                }
        }
      }
    }
  }
  .Home_sliderRow{
    height: 240px;
    overflow: hidden;
    margin-top: 20px;
    position: relative;
  }
}
